# Redis Configuration
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_CHANNEL=github-events

# Slack Configuration (for SlackLiner)
SLACK_REDIS_LIST=slack_messages
SLACK_CHANNEL_ID=C0123456789
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token

# Poppit Configuration
POPPIT_CHANNEL=poppit:command-output

# Slack Reactions Configuration
SLACK_REACTIONS_LIST=slack_reactions

# Slack Search Configuration
SLACK_SEARCH_LIMIT=100
