services:
  octoslack:
    build: .
    read_only: true
    environment:
      - REDIS_HOST=${REDIS_HOST:-host.docker.internal}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_CHANNEL=${REDIS_CHANNEL:-github-events}
      - SLACK_REDIS_LIST=${SLACK_REDIS_LIST:-slack_messages}
      - SLACK_CHANNEL_ID=${SLACK_CHANNEL_ID}
      - SLACK_BOT_TOKEN=${SLACK_BOT_TOKEN}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
      - POPPIT_CHANNEL=${POPPIT_CHANNEL:-poppit:command-output}
      - SLACK_REACTIONS_LIST=${SLACK_REACTIONS_LIST:-slack_reactions}
      - SLACK_SEARCH_LIMIT=${SLACK_SEARCH_LIMIT:-100}
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
